@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Heebo:wght@100;300&family=Roboto+Condensed:wght@300;400&family=Sono&family=Source+Code+Pro&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Golos+Text&family=Heebo:wght@100;300&family=Playfair+Display&family=Roboto+Condensed:wght@300;400&family=Sono&family=Source+Code+Pro&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1f242d;
    color: #fff;
}
.container
{
    display: flex;
}
.side_bar{
    position: absolute;
    background-color: #182641;
    height: 100vh;
    /* font-family: 'Heebo', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Golos Text', sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease-in;
    }
.side_bar nav
{
    padding: 40px;
}
.side_bar nav li
{
    list-style: none;
    font-size: 1.5rem;
    padding: 20px 0px;
}
.side_bar nav li a{
    text-decoration: none;
    color: #fff;
}
.side_bar nav li a:hover{
    color: #0ef;
}

/* styling of main */

.main
{
    /* background-color: #f0b4ff; */
    width: 95vw;
}
h1{
    
    position: relative;
    text-align: center;
    top: 4rem;
    font-weight: bold;
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Golos Text', sans-serif;
    color: #0ef;
    font-size: 2.5rem;
}
.ser{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7rem;
}
.web{
    width: 300px;
    height: 280px;
    padding: 1.2rem 1rem;
    background-color:rgba(165, 133, 133, 0.205);
    transition: height 0.5s;
    border-radius: 22px;
    
}
.web .space{
    margin-top: 15px;
    font-family: 'Golos Text', sans-serif;
}
.web i{
    font-size: 3rem;
    color: #0ef;
}
.web:hover{
    height: 320px;
    border: 1px solid #0ef;
    border-radius: 22px;
    color: pink;
}
h2{
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    color: #0ef;
}
.side_barGO
  {
    transform: translate(-187px,0);
   }

.hamberg{
    position: absolute;
    left: -3px;
   
}
.hum{
    cursor: pointer;
}
.cross
{
 margin-left: 139px;
 cursor: pointer;
}


@media screen and (max-width:1078px)
{
    .ser{
        flex-direction: column;
       
    }  
    .web
    {
        padding: 1.2rem 1rem;
        margin-bottom: 10px;
    }  
}

